/* 字体大小 */
.font32 {
  font-size: 32px;
  font-weight: 800;
  line-height: 35px;
}
.font24 {
  font-size: 24px;
  font-weight: 800;
  line-height: 27px;
}
.font20 {
  font-size: 20px;
  font-weight: 500;
  line-height: 22px;
}
.font18 {
  font-size: 18px;
  line-height: 20px;
}
.font16 {
  font-size: 16px;
  line-height: 18px;
}
.font15 {
  font-size: 15px;
  line-height: 17px;
}
.font14 {
  font-size: 14px;
  line-height: 15px;
}
.font13 {
  font-size: 13px;
  line-height: 14px;
}
.font12 {
  font-size: 12px;
  line-height: 13px;
}
.font10 {
  font-size: 10px;
  line-height: 11px;
}
.bold {
  font-weight: 600;
}
.line16 {
  line-height: 16px;
}
.line20 {
  line-height: 20px;
}
.line24 {
  line-height: 24px;
}
.line28 {
  line-height: 28px;
}
.line32 {
  line-height: 32px;
}
.line48 {
  line-height: 48px;
}

/* 间距 */
.padding4 {
  padding: 4px; /* 4px 间距 */
}
.padding6 {
  padding: 6px; /* 6px 间距 */
}
.padding8 {
  padding: 8px; /* 8px 间距 */
}
.padding12 {
  padding: 12px; /* 12px 间距 */
}
.padding16 {
  padding: 16px; /* 16px 间距 */
}
.padding24 {
  padding: 24px; /* 24px 间距 */
}
.padding32 {
  padding: 32px; /* 32px 间距 */
}

/* 弹性布局 */
.flex {
  display: flex;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-start {
  display: flex;
  justify-content: flex-start;
}
.flex-end {
  display: flex;
  justify-content: flex-end;
}
.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}
.full-height {
  overflow: hidden;
  height: 100% !important;
}
.full-width {
  width: 100% !important;
}
.full-flex {
  flex: 1;
}

/* 布局方向 */
.center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.row-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.column-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 换行 */
.one-line {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.two-line {
  -webkit-box-orient: vertical;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

/* 超出时显示滚动条 */
.scroll {
  overflow: scroll;
  overflow-x: scroll;
}
/* 滚动条整体（::-webkit-scrollbar仅在WebKit浏览器生效） */
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 6px;
  height: 6px;
}
/* 滚动条轨道 */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0);
  border-radius: 0;
}
/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  cursor: pointer;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.15);
  transition: color 0.2s ease;
}
